<div class="parent">
    <div class="child-1">
        <h1><i class="material-icons">flash_on</i>Spur</h1>
        <h4 routerLink="interpolation">Interpolation</h4>
        <h4 routerLink="event-binding"><i class="material-icons">bar_chart</i>Event Binding</h4>
        <h4 routerLink="interaction"><i class="material-icons">dashboard</i>Interaction</h4>                   
        <h4 routerLink="create-account"><i class="material-icons">insert_drive_file</i>Create Account</h4>                   
        <h4 routerLink="account-summary"><i class="material-icons">g_mobiledata</i>Account Summary</h4>
        <h4 routerLink="examples"><i class="material-icons">g_mobiledata</i>Examples</h4>
        <h4 routerLink="registration-form"><i class="material-icons">g_mobiledata</i>Registration Form</h4>
        <h4 routerLink="vehicle"><i class="material-icons">g_mobiledata</i>Vehicles Info.</h4>
        <h4 routerLink="vehicle-new"><i class="material-icons">g_mobiledata</i>Vehicles Info.(FORM)</h4>
        <h4 routerLink="banking"><i class="material-icons">g_mobiledata</i>Bank Details</h4>
        <h4 routerLink="store"><i class="material-icons">g_mobiledata</i>App Store</h4>
        <h4 routerLink="form-details"><i class="material-icons">g_mobiledata</i>Application Form</h4>
        <h4 routerLink="order-food"><i class="material-icons">g_mobiledata</i>Order Food</h4>
        <button class="btn" (click)="logout()">Logout</button>
    </div>
    <div class="child-2">
       <router-outlet></router-outlet>
    </div>
</div>
